.container {
  width: 35.25rem;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  bottom: 30rem;
  left: 40rem;
  border-radius: 16px;
  background: var(--Pure-White, #FFF);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  
}
.headline {
  color: var(--Gunmetal, #253347);
  font-family: "inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  width: fit-content;
  margin: 0;
  
}
.Metric{
    display: flex;
    width: 500px;
    justify-content:space-between;
}
.MetricInput{
    width: 238px;
}.MetricInput label{
    color: var(--Gunmetal, #253347);

/* Body M (Bold) */
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
}
.inputs{
    display: flex;
    gap: 2rem;
}
.weight, .height{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.wInput, .hInput{
    display: flex;
    border: none;

}

h4{
    margin: 0;
}
.talk{
    padding: 32px;
    height: auto;
    border-radius: 16px 999px 999px 16px;
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
}
h5{
    color: blue;
    position: relative;
    right: 1.5rem;
    font-size: 1rem;
    
}
.talk, h3, .talk p {
    color: white;
}


